@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#186a5e, #053339);
  color: #e1eeeb;
  min-height: 100vh;
}

result-mode[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.result-mode::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
